<div class="md-footer-credits md-typeset">
  <div class="md-footer-meta__inner md-grid" style="position: relative">
    <div style="padding: 8px 0; margin: 0 12px" data-md-component="credits">
    </div>
    <div style="padding: 8px 0; margin: 0 12px; width: 25%; min-width: 300px; position: absolute; right: 0; top: 8px; text-align: right; line-height: 0.8rem;">
      <small>
        Initiated by the
        <a style="font-weight: bold;" href="https://www.uni-koblenz-landau.de/de/landau/fb8/fb-leitung/osk">Open Science Commission<br>of the Department of Psychology,<br>University of Landau, Germany</a>
      </small>
    </div>
  </div>
</div>
