<main class="md-hero" style="color: black; background-color: #f9a825;  text-align: center;">
  <div class="md-hero__inner md-grid md-typeset" style="margin-top: 0">
    <h2 style="margin-top: 0;">
      We're <strong>moving</strong>!
    </h2>
    <p>
      <strong>We're building a new, larger knowledge base</strong><br>
      in collaboration with the <a href="https://cos.io" style="color: black; text-decoration: underline; text-decoration-style: dotted; text-decoration-color: rgba(0, 0, 0, 0.5);">Center for Open Science</a>.
    </p>
    <p>
      <strong>Please do join us!</strong><br>
      <a href="https://cos.io/our-communities/open-scholarship-knowledge-base/" style="color: black; text-decoration: underline; text-decoration-style: dotted; text-decoration-color: rgba(0, 0, 0, 0.5);">More information</a> is available through the COS.
    </p>
  </div>
</main>
