{% set feature = config.theme.feature %}

<!-- Determine class according to level -->
{% set class = "md-hero" %}

<!-- Hero teaser -->
<div class="{{ class }}">
  <div class="md-hero__inner md-grid md-typeset" style="text-align: center">
    <i class="md-icon" style="font-size: 7.5rem"></i>
    <h2 style="color: white">
      Welcome to the <strong>open science knowledge base</strong>!
    </h2>
    <p>
      This is an <strong>annotated collection</strong>
      of <strong>practical resources</strong><br>
      for researchers interested in using open practices.<br>
      <a href="/community/contribute/">Additions and revisions</a> are very welcome!
    </p>
  </div>
</div>
