@import "https://use.fontawesome.com/releases/v5.0.13/css/brands.css";
@import "https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css";

/* Reduce opacity of header shadow */
.md-header[data-md-state="shadow"] {
  box-shadow: 0 0 .4rem rgba(0,0,0,.05),0 .4rem .8rem rgba(0,0,0,.1);
}

/* Equalize padding around content */
.md-content {
  padding-bottom: 4rem;
}

/* Fade out sidebars */
.md-sidebar {
  opacity: 0.25;
  transition: opacity 0.5s;
}
.md-sidebar .md-sidebar__scrollwrap {
  overflow-y: visible;
}

.md-sidebar:hover {
  opacity: 0.8;
}

/* Hero */
.md-hero {
  padding: 3rem;
}

.md-hero a {
  color: rgba(255, 255, 255, 0.75);
}

.md-hero a:hover {
  color: white;
}

/* Rainbow navigation */
.md-main.md-rainbow {
  text-align: center;
  margin: 24px;
}

.md-main.md-rainbow img {
  width: 100%;
  min-width: 400px;
  max-width: 750px;
}

/* Credits/logo bar */
.md-footer-credits {
  display: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.md-footer-credits img {
  margin: 0 0.075rem;
  padding: 0;
  max-width: 1.5rem;
  max-height: 1.5rem;
  border-radius: 0.125rem;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.1);
}

/* Footer links */
.md-footer-imprint a {
  color: rgba(255, 255, 255, 0.3) !important;
}
.md-footer-imprint a:hover {
  color: rgba(255, 255, 255, 0.7) !important;
}

/* Creative Commons icons */
.md-footer-social .fab {
  font-size: 1.25rem;
}

/* Homepage customization */
.md-homepage h2 {
  /* Copied from the h3 theme */
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -.01em;
}
.md-homepage h3 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: -.005em;
}

/* Link list */
.md-homepage ul {
  list-style-type: none;
  margin-left: 0;
}
.md-homepage ul li {
  margin-left: 0;
  /* page-break-inside is a mozilla-specific replacement */
  page-break-inside: avoid;
  break-inside: avoid-column;
}
.md-homepage ul li a {
  display: block;
}
/* Use columns on wide screens only */
@media only screen and (min-width:76.25em) {
  .md-homepage ul {
    column-count: 2;
    column-gap: 2.5rem;
  }
  /* Avoid annoying mid-line column breaks
     in firefox with a crude hack */
  .md-homepage ul li:only-child {
    height: 8rem;
  }
}

/* Full-width tables */
.table-full-width div {
  width: 100%;
  margin: 0;
  padding: 0 !important;
}
.table-full-width table {
  box-shadow: none !important;
}
.table-full-width table td {
  padding: 1px !important;
}

/* Information boxes */
.md-typeset .admonition {
  font-size: 0.75rem;
}

.md-typeset .admonition .admonition-title::before {
  padding-top: 0.1rem;
}

/* Search box */
.md-search__inner {
  margin-right: 0;
}
