@import "https://use.fontawesome.com/releases/v5.0.13/css/brands.css";
@import "https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css";

/* Reduce opacity of header shadow */
.md-header[data-md-state="shadow"] {
  box-shadow: 0 0 .4rem rgba(0,0,0,.05),0 .4rem .8rem rgba(0,0,0,.1);
}

.md-content {
  padding-bottom: 8rem;
}

.md-sidebar {
  opacity: 0.25;
  transition: opacity 0.5s;
}
.md-sidebar .md-sidebar__scrollwrap {
  overflow-y: visible;
}

.md-sidebar:hover {
  opacity: 0.8;
}

/* Hero */
.md-hero a {
  color: rgba(255, 255, 255, 0.75);
}

.md-hero a:hover {
  color: white;
}

/* Rainbow navigation */
.md-main.md-rainbow {
  text-align: center;
  margin: 24px;
}

.md-main.md-rainbow img {
  width: 100%;
  min-width: 400px;
  max-width: 750px;
}

/* Credits/logo bar */
.md-footer-credits {
  display: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.md-footer-credits img {
  margin: 0 0.1rem;
  padding: 0;
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

/* Footer links */
.md-footer-imprint a {
  color: rgba(255, 255, 255, 0.3) !important;
}
.md-footer-imprint a:hover {
  color: rgba(255, 255, 255, 0.7) !important;
}

/* Creative Commons icons */
.md-footer-social .fab {
  font-size: 2.5rem;
}

/* Homepage customization */
.md-homepage h2 {
  /* Copied from the h3 theme */
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -.01em;
}

/* Link list */
.md-homepage ul {
  list-style-type: none;
  margin-left: 0;
}
.md-homepage ul li {
  margin-left: 0;
}
.md-homepage ul li a {
  display: block;
}

/* Full-width tables */
.table-full-width div {
  width: 100%;
  margin: 0;
  padding: 0 !important;
}
.table-full-width table {
  box-shadow: none !important;
}
.table-full-width table td {
  padding: 1px !important;
}
